/* Color Palette */

$primary-color: #212121;
$primary-hover: #056420;
$secondary-color: #757575;
$secondary-hover: #005b90;
$white: white;
$black: black;
$blackTr: rgba(0, 0, 0, 0.593);
$accent: #1a3a1cca;
$accentBg: #8b978bb0;
$bgColor: #f0f0f0;

/* Font Palette */
$main-font: sans-serif;
$sub-font: serif;
$big-fontsize: 1rem;
$medium-fontsize: 0.9rem;
$small-fontsize: 0.8rem;
$title-font: "HCo Chronicle Display", Georgia, Times, "Times New Roman";
